.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  
  .team-member {
    flex-basis: 20%;
    padding: 20px ;
    box-sizing: border-box;
    border: 1px solid #00BF63;
    text-align: center;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 2%;

    border-radius: 25px;
    /*shadow effect*/
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

    /*scaling*/
    transition: transform 0.2s ease-in-out;
  }
  .team-member:hover
  {
    transform: scale(1.2);
  }

  
  .team-member img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .team-member h2 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .team-member p {
    margin-top: 5px;
    font-size: 1rem;
  }
  